
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto+Slab:300,400,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

font-family: 'Roboto Slab', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #FFC800;
}
a:active {
	text-decoration: none;
	color: #FFC800;
}
a:hover {
	text-decoration: none;
	color: #FFC800;
}

.clear {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

img {max-width: 100%;}

.header {
	background: #323232;
	/* height: 50px; */
	/* padding: 15px 0 15px; */
	/* opacity: 0.5; */
    padding-left: 15%;
    padding-right: 15%;

}
/* .header__bg {
	background: #606060;
	padding: 10px 0 10px;
	opacity: 0.5;
} */

.wr-billboard {
	background: url(../img/slider/slide3.jpeg) 0 0 no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 145px 0 160px 0;
	margin-top: 50px;
}
.wr-slider {
	max-height: 800px;
}
.wr-forwhom {
	background: #fff;
	padding: 0 0px 20px 0px;
}
.wr-advantages {
	background: #fafafa;
	padding: 0 0px 20px 0px;
}
.wr-programs {
	/* background: #fff; */
	padding: 0 0px 20px 0px;
}
.wr-reviews {
	background: #fafafa;
	padding: 0 0px 20px 0px;
}
.wr-partners {
	/* background: #fff; */
	padding: 0 0px 20px 0px;
}
.footer {
	background: #F2F2F2;
	padding: 20px 0px 0px 0px;
}
/* .wr-about {
	padding: 70px 0 142px 0;
}
.wr-forwhoms {
	background: #43bc7b;
	padding: 100px 0 20px 0;
}
.wr-testimonials {
	padding: 90px 0 94px 0;
}
.wr-subscription {
	background: #43bc7b;
	padding: 85px 0 100px 0;
}
.footer {
	padding: 95px 0;
} */

/*Create logo*/
.header__logo {
	color: #fff;
	font-family: 'Pacifico', cursive;
	font-size: 34px;
	letter-spacing: 0.2px;
	/* font-weight: 600;
	line-height: 0; */
	/* background:url(../img/logo_camera.png) 0 0 no-repeat; */
	display: block;
	/* margin-top: 10px; */
}
.navbar>.container-fluid .header__logo:visited {
	color: #fff;
}
.navbar>.container-fluid .header__logo:hover {
	text-decoration: none;
	color: #505050;
}

 /*Create menu*/
.header__nav {
	/* margin: 9px 0 0 6px; */
}
.header__nav ul {
	list-style: none;
	/* padding: 5px 0; */
	
}
.header__nav>.navbar-nav {
	margin-left: 10%;
}
.header__nav>.navbar-nav li {
	display: inline-block;
	margin-right: 20px;
	padding-top: 15px;
}
.header__nav ul li:last-child{
	margin-right:0;
}
.header__nav ul li a {
	color: #FFFFFF;
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 18px;
	letter-spacing: 0.6px;
	/* text-decoration: underline; */
}
.navbar>.container-fluid .header__nav ul li a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
.navbar>.container-fluid .header__nav ul li a:hover {
	color: #FFC800;
	text-decoration: none;
}

/*Create social icon*/
.header__social {
	float: right;
	margin-bottom: 0px;
	padding-top: 10px;
}
.header__socials::after {
	@extend .clear;
}
.header__social li {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	/* background-color: #ffffff; */
	line-height: 30px;
	text-align: center;
	margin-left: 15px;
}
.header__social li:first-child {
	margin-left:0;
}
.header__social li a {
	display: block;
}
.header__social li:hover {
	background: #323232;
	color: #000;
}
.header__social li a i {
	font-family: 'FontAwesome';
	color: #fff;
	font-size: 18px;
	padding-top: 6px;
}
.header__social li a i:hover {
    color: #4A76A8;
    font-family: 'FontAwesome';
	font-size: 18px;
}



/*Create billboard text and button*/
.billboard__section {
	/* margin-left: 7px; */
}
.billboard__section h1 {
	color: #FFC800;
	font-family: 'Roboto Slab', serif;
	font-size: 38px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 2px;
	/* text-transform: uppercase; */
}
.billboard__section p {
	color: #fff;
	font-family: 'Open Sans', sans-serif ;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0.8px;
	padding-top: 20px;
}
.billboard__section-button {
	height: 50px;
	width: 250px;
	text-align: center;
	color: #fff;
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	line-height: 20px;
	/* font-weight: 600; */
	background: #B2B7BB;
	display: inline-block;
	letter-spacing: 0.2px;
	padding: 15px 15px;
	margin-top: 20px;
	border-radius: 30px;
}
.billboard__section-button:hover {
	text-decoration: none;
    color: #FFC800;
    background-color: #fff;
    background: rgba(255, 255, 255, 0.5);
    transition: all 0.5s ease;
}

/*Create section forwhom*/
.heading__forwhom {
	text-align: center;
	color: #FFC800;
	font-family: 'Roboto Slab', serif;
	font-size: 38px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 2px;
	margin-bottom: 20px;
}
.forwhom__item {
	margin-bottom: 20px;
	background: #FAFAFA;
	min-height: 220px;
}
.forwhom__item img {
	display: block;
    max-width: 100%;
    height: 50px;
    width: 50px;
    margin: 0 auto;
}
.forwhom__item h3 {
	margin-top: 10px;
	padding-left: 10px;
    padding-right: 10px;
	text-align: center;
    color: #000000;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    /* letter-spacing: 2px; */
}
.forwhom__item hr {
    margin-top: 20px;
    margin-bottom: 0;
    border: 0;
    border-top: 2px solid #000;
    margin-left: 50px;
    margin-right: 50px;
}
.forwhom__item_text {
	margin: 0px;
	padding: 0px 20px 20px 20px;
	text-align: justify;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    /* letter-spacing: 2px; */
}
.forwhom__dropdown {
	margin: 0;
}
.forwhom__btn {
	height: 50px;
	width: 262px;
	text-align: center;
	color: #fff;
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	line-height: 20px;
	/* font-weight: 600; */
	background: #B2B7BB;
	display: inline-block;
	letter-spacing: 0.2px;
	padding: 15px 15px;
	margin-top: 20px;
	border-radius: 30px;
}
.forwhom__btn:hover {
	text-decoration: none;
    color: #FFC800;
    background-color: #fff;
    background: rgba(255, 255, 255, 0.5);
    transition: all 0.5s ease;
}
/*Create section advantages*/
.advantages__heading {
	text-align: center;
	color: #FFC800;
	font-family: 'Roboto Slab', serif;
	font-size: 38px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 2px;
	margin-bottom: 20px;
}
.advantages__content {
	/* float: left; */
}
.advantages__picture {
    float: left;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}
/*Create section programs*/
.programs__heading {
	text-align: center;
	color: #FFC800;
	font-family: 'Roboto Slab', serif;
	font-size: 38px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 2px;
	margin-bottom: 20px;
}
.programs__item {
	min-height: 300px;
	padding: 15px;
	position: relative;
	margin-bottom: 15px;
}
.programs__item::after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
    background: url(../img/slider/slide3.jpeg) 0 0 no-repeat;
    background-size: cover;
    background-position: center center;
}
.programs__picture img {
	display: block;
	max-width: 100%;
	height: 100px;
	width: 100px;
	/* margin: 0 auto; */
	float: right;
}
.programs__content h3 {
	margin-top: 10px;
	text-align: center;
	color: #FFC800;
	font-family: 'Roboto Slab', serif;
	font-size: 28px;
	font-weight: 600;
	line-height: 25px;
	letter-spacing: 1.5px;
}
.programs__content ul li {
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0.8px;
	padding-top: 20px;
}
.programs__content-button {
	height: 50px;
	width: 250px;
	text-align: center;
	color: #fff;
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	line-height: 20px;
	/* font-weight: 600; */
	background: #B2B7BB;
	display: block;
	margin: 0 auto;
	letter-spacing: 0.2px;
	padding: 15px 15px;
	border-radius: 30px;
}
.programs__content-button:hover {
	text-decoration: none;
    color: #FFC800;
    background-color: #fff;
    background: rgba(255, 255, 255, 0.5);
    transition: all 0.5s ease;
}

/*Create section reviews*/
.reviews__heading {
	text-align: center;
	color: #FFC800;
	font-family: 'Roboto Slab', serif;
	font-size: 38px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 2px;
	margin-bottom: 20px;
}

.reviews__picture {
    width: 550px;
    height: 550px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

/* Control buttons  */
#quote-carousel .carousel-control {
  background: none;
  color: #222;
  font-size: 24px;
  text-shadow: none;
  margin-top: 40%;
}
/* Previous button  */
#quote-carousel .carousel-control.left {
  left: -20px;
}
/* Next button  */
#quote-carousel .carousel-control.right {
  right: -20px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators {
  bottom: -20px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li {
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active {
  background: #333333;
}
/* End carousel */
.item blockquote {
    border-left: none; 
    margin: 0;
}
.comment {
	margin-top: 20px;
	margin-bottom: 10px;
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0.8px;
	min-height: 100px;
}
.comment:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}
.comment:after {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: right;
    margin-right: 10px;
}
.comment__name a {
	margin-top: 10px;
	padding-bottom: 20px;
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;
	letter-spacing: 0.8px;
}
.comment__name a:visited {
	text-decoration: none;
}
.comment__name a i {
	font-family: 'Fontawesome';
	font-size: 20px;
	font-weight: 400;
	color: #4A76A8;
	margin-right: 15px;
}

/* *
  MEDIA QUERIES

Small devices (tablets, 768px and up)
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

Small devices (tablets, up to 768px)
@media (max-width: 768px) { 
    
    Make the indicators larger for easier clicking with fingers/thumb on mobile
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}
 */

.partners__heading {
	text-align: center;
	color: #FFC800;
	font-family: 'Roboto Slab', serif;
	font-size: 38px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 2px;
	margin-bottom: 20px;
}
.featured__link {
	text-align: center;
	line-height: 100px;
}
.featured__link img {
	height: 100px;
	display: block;
    margin: 0 auto;
}

/*footer*/
.footer__heading {
	text-align: left;
	color: #000;
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 2px;
	/* margin-bottom: 20px; */
	padding-left: 40px;
}

.footer__menu ul {
	list-style-type: none;
	margin-bottom: 0;
}
.footer__menu ul li {
	margin-bottom: 10px;
}
.footer__menu ul li:last-child {
	margin-bottom: 0;
}
.footer__menu a {
	color: #555;
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.8px;
}
.footer__menu a:hover {
	color: #000;
}
.footer__menu ul li a i {
    margin-right: 10px;
}
.footer__menu ul > .facebook__margin a i {
    margin-right: 18px;
}

.footer__copyright {
	padding: 0;
	margin: 0;
	text-align: center;
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.8px;
}


/*Plugins*/
.popup {
	background: #ffffff;
	width: 600px;
	padding: 30px;
	position: relative;
	display: none;
}
.popup .b-close {
	position: absolute; top: -30px; right: -30px;
	font-size: 40px; color:#ffffff; text-decoration: none;
}

/*adaptation*/
.app {min-width: 320px;}
@media (max-width: 1199px) { 
	.header__social {margin-right: 0;}
	.header__nav ul li {margin-right: 20px;}
	.billboard__section-button {margin-right: 3px;}
	.footer__os li {margin-right: 25px;}
}	
@media (max-width: 991px) {
	.header {padding: 30px 0;}
	.header__logo {width: 125px;margin: 0 auto;}
	.header__nav {margin: 30px 0;}
	.header__nav ul {text-align: center;}
	.header__social {float: none;/* text-align: center; */}
	.wr-billboard {padding: 140px 0 140px 0;}
	.wr-forwhom a img {width: 150px; margin: 15px auto;}
	.wr-forwhom a img {padding-bottom: 15px;}
}
@media (max-width: 481px) {
	.about__iphone {display: block; margin: 0 0 30px 0;}
	.billboard__section-button {margin: 20px 0 0 55px;}
	.billboard__section-button:last-child {padding: 17px 36px;}
	.wr-forwhom {padding: 20px 0px 20px 20px;}
	.wr-forwhom a img {padding-bottom: 15px;}
	.wr-about {padding: 50px 0;}
	.about__button-link {padding: 20px 20px;}
	.about__button-get {padding-left: 20px;}
	.wr-testimonials {padding: 50px 0;}
	.wr-subscription {padding: 50px 0;}
	.footer {/* padding: 50px 0; */}
}
@media (max-width: 320px) {
	.billboard__section-button {margin: 20px 0 0 10px;}
	.billboard__section-button {padding: 17px 43px;}
	.testimonials__section {padding: 0 20px;}
	.testimonials__section-item blockquote p {font-size: 14px; line-height: 30px;}
	.header__nav ul li {display: block; margin: 0 0 20px 0;}
	.about__section h2 {font-size: 30px; line-height: 40px;}
	.about__section p {font-size: 16px; line-height: 30px; letter-spacing: 0;}
	.about__section ul li {font-size: 14px; line-height: 20px;}
	.about__button-link {padding: 20px 20px;}
	.about__button-get {margin: 25px 0 0 50px;}
	.subscription__section h4 {margin-bottom: 30px;}
	.subscription__section form input {width: 255px;}
	.subscription__section form button {right: 20px;}
	.footer__copyright small{letter-spacing: 0.3px;}
	.footer__os li {margin: 0 10px;}
	.wr-billboard {padding: 110px 0 110px 0;}
	.wr-about {padding: 85px 0 85px 0;}
	.footer {padding: 50px 0;}	
}

/*Preloader*/
#page-preloader {
	position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #FFC800;
    opacity: 0.5;
    z-index: 100500;
}
#page-preloader .spinner {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url('../img/spinner.gif') no-repeat 50% 50%;
    margin: -50px 0 0 -50px;
}
